.m-bottom-2em {
    margin-bottom: 2em;
}

section {
    height: calc(100vh - 100px);
    overflow-y: auto;
}

.w-80,
.main-section {
    width: 80%;
}

.b-box {
    box-sizing: border-box;
}

.p-24px {
    padding: 24px !important;
}

.gap-1em {
    gap: 1em;
}

.header-font {
    font-size: 50px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    // margin: 0;
}

p {
    line-height: 25px;
    letter-spacing: 1px;
}

.wrap {
    flex-wrap: wrap;
}

.mat-mdc-card {
    position: relative;
    border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 4px));
    background-color: var(--mdc-elevated-card-container-color, transparent);
    border-width: 0;
    border-style: solid;
    border-color: var(--mdc-elevated-card-container-color, transparent);
}

.mdc-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.lessons,
.projects {
    width: 31%;
}

.mat-mdc-card {
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    --mdc-elevated-card-container-color: #fff;
}

.lessons .project-card-image, .projects .project-card-image {
    width: 100%;
    border-radius: 4px 4px 0 0 !important;
}

@media only screen and (max-width: 500px) {

    .lessons,
    .projects {
        width: 100%;
    }
}

@media only screen and (max-width: 680px) {

    .lessons,
    .projects {
        width: 100%;
    }
}

@media only screen and (max-width: 680px) {
    .column-reverse-mobile {
        flex-direction: column-reverse;
        gap: 2em;
    }

    .text-line-height08 {
        line-height: 0.8 !important;
    }

    .w-30 {
        width: 100%;
    }
}