.nav {
    height: 80px;
    box-shadow: 0 0 5px #dddddd;
    background: white;
}

.nav .side-container {
    width: 222px;
}

.gap-1em {
    gap: 1em;
}

.primary,
.primary-on-hover:hover {
    color: #009688;
}

.w-90 {
    width: 90%;
}

/* Default (desktop) */
.hide-items {
  display: flex;
}

.show-items {
  display: none;
}

/* Mobile */
@media only screen and (max-width: 777px) {
  .hide-items {
    display: none;
  }

  .show-items {
    display: flex;
  }
}