<div class="flex column center-center gap-5em">

    <!-- Hero -->
    <div class="p-24px b-box flex spacebetween-center column-reverse-mobile w-80">
        <div class="w-60 flex column gap-1em container-mobile">
            <p class="font-18">Hello, I'm Bafana Promise Kopo 👋🏻</p>

            <h2 class="header-font"><span class="accent">Java</span>Script Full-Stack Developer</h2>

            <p>As a JavaScript Full-Stack Developer, I navigate the complexities of full-stack development to create
                seamless user interfaces and scalable server-side solutions.
            </p>

            <p>I'm also your MEAN Stack specialist, guiding beginners through HTML, CSS, and JavaScript to master
                comprehensive web development. Let's build something awesome together!
            </p>

            <div class="flex gap-1em m-top-1em container-mobile">
                <button mat-raised-button color="primary" routerLink="/contact" class="btn-padding font-12">Get In
                    Touch</button>
                <button mat-raised-button color="accent" routerLink="/projects" class="btn-padding font-12">Browse
                    Projects</button>
            </div>
        </div>

        <div class="w-40 flex end-center container-mobile">
            <div class="container accent b-box container-mobile">
                <div class="img-container primary"></div>
            </div>

        </div>

    </div>
    <!-- Projects -->
    <div class="flex column gap-1em w-80">
        <h2 class="header-font">Projects</h2>
        <div class="flex gap-1em wrap">
            <mat-card class="projects accent-on-hover pointer">
                <div class="flex center-center m-bottom-1em">
                    <img mat-card-image class="project-card-image" src="../../../assets/images/projects/by-twins.png"
                        alt="Customer Care">
                </div>

                <mat-card-content class="text-center">
                    <h2>Customer Care</h2>
                </mat-card-content>
            </mat-card>

            <mat-card class="projects accent-on-hover pointer">
                <div class="flex center-center m-bottom-1em">
                    <img mat-card-image class="project-card-image" src="../../../assets/images/projects/covid.png"
                        alt="Corona Count">
                </div>
                <mat-card-content class="text-center">
                    <h2>Corona Count</h2>
                </mat-card-content>
            </mat-card>

            <mat-card class="projects accent-on-hover pointer">
                <div class="flex center-center m-bottom-1em">
                    <img mat-card-image class="project-card-image"
                        src="../../../assets/images/projects/eazi-connect.png" alt="EaziConnect">
                </div>
                <mat-card-content class="text-center">
                    <h2>EaziConnect</h2>
                </mat-card-content>
            </mat-card>

            <mat-card class="projects accent-on-hover pointer">
                <div class="flex center-center m-bottom-1em">
                    <img mat-card-image class="project-card-image" src="../../../assets/images/projects/eazi-ride.png"
                        alt="EaziRide">
                </div>
                <mat-card-content class="text-center">
                    <h2>EaziRide</h2>
                </mat-card-content>
            </mat-card>

            <mat-card class="projects accent-on-hover pointer">
                <div class="flex center-center m-bottom-1em">
                    <img mat-card-image class="project-card-image"
                        src="../../../assets/images/projects/galleries-pret.png" alt="Galleries Pret">
                </div>
                <mat-card-content class="text-center">
                    <h2>Galleries Pret</h2>
                </mat-card-content>
            </mat-card>

            <mat-card class="projects accent-on-hover pointer">
                <div class="flex center-center m-bottom-1em">
                    <img mat-card-image class="project-card-image"
                        src="../../../assets/images/projects/visa-tracker.png" alt="Visa Tracker">
                </div>
                <mat-card-content class="text-center">
                    <h2>Visa Tracker</h2>
                </mat-card-content>
            </mat-card>

            <mat-card class="projects accent-on-hover pointer">
                <div class="flex center-center m-bottom-1em">
                    <img mat-card-image class="project-card-image" src="../../../assets/images/projects/kasidevs.png"
                        alt="KasiDevs">
                </div>
                <mat-card-content class="text-center">
                    <h2>KasiDevs</h2>
                </mat-card-content>
            </mat-card>
        </div>

    </div>
    <!-- Skills -->
    <div class="flex column gap-1em w-80">
        <h2 class="header-font">Skills</h2>

        @for (section of skillSections; track section.title) {
        <div class="skills-section">
            <h3>{{ section.title }}</h3>
            <mat-chip-listbox class="skill-chip-list">

                @for (skill of section.skills; track skill) {
                <mat-chip disableRipple>
                    {{ skill }}
                </mat-chip>

                }
            </mat-chip-listbox>
        </div>

        }

        <div class="section-color">
            <h3 class="m-bottom-1em">My Tech Stack</h3>
            <div class="flex gap-1em wrap">

                <mat-card class="lessons">
                    <div class="flex center-center m-bottom-1em">
                        <img mat-card-image class="round white-bg" src="/icon/html.png" alt="HTML 5" width="80"
                            height="80">
                    </div>
                    <mat-card-content class="text-center">
                        <h2 class="tech-font-16">HTML 5</h2>
                    </mat-card-content>
                </mat-card>

                <mat-card class="lessons">
                    <div class="flex center-center m-bottom-1em">
                        <img mat-card-image class="round white-bg" src="/icon/css3.png" alt="CSS3" width="80"
                            height="80">
                    </div>
                    <mat-card-content class="text-center">
                        <h2 class="tech-font-16">CSS3</h2>
                    </mat-card-content>
                </mat-card>

                <mat-card class="lessons">
                    <div class="flex center-center m-bottom-1em">
                        <img mat-card-image class="round white-bg" src="/icon/sass.png" alt="SCSS" width="80"
                            height="80">
                    </div>
                    <mat-card-content class="text-center">
                        <h2 class="tech-font-16">SCSS</h2>
                    </mat-card-content>
                </mat-card>

                <mat-card class="lessons">
                    <div class="flex center-center m-bottom-1em">
                        <img mat-card-image class="round white-bg" src="/icon/javascript.png" alt="JavaScript"
                            width="80" height="80">
                    </div>
                    <mat-card-content class="text-center">
                        <h2 class="tech-font-16">JavaScript</h2>
                    </mat-card-content>
                </mat-card>

                <mat-card class="lessons">
                    <div class="flex center-center m-bottom-1em">
                        <img mat-card-image class="round white-bg" src="/icon/typescript.png" alt="TypeScript"
                            width="80" height="80">
                    </div>
                    <mat-card-content class="text-center">
                        <h2 class="tech-font-16">TypeScript</h2>
                    </mat-card-content>
                </mat-card>

                <mat-card class="lessons">
                    <div class="flex center-center m-bottom-1em">
                        <img mat-card-image class="round white-bg" src="/icon/nodejs.png" alt="Node.js" width="80"
                            height="80">
                    </div>
                    <mat-card-content class="text-center">
                        <h2 class="tech-font-16">Node.js</h2>
                    </mat-card-content>
                </mat-card>

                <mat-card class="lessons">
                    <div class="flex center-center m-bottom-1em">
                        <img mat-card-image class="round white-bg" src="/icon/express.png" alt="Express.js" width="80"
                            height="80">
                    </div>
                    <mat-card-content class="text-center">
                        <h2 class="tech-font-16">Express.js</h2>
                    </mat-card-content>
                </mat-card>

                <mat-card class="lessons">
                    <div class="flex center-center m-bottom-1em">
                        <img mat-card-image class="round white-bg" src="/icon/mongodb.jpg" alt="MongoDB" width="80"
                            height="80">
                    </div>
                    <mat-card-content class="text-center">
                        <h2 class="tech-font-16">MongoDB</h2>
                    </mat-card-content>
                </mat-card>

                <mat-card class="lessons">
                    <div class="flex center-center m-bottom-1em">
                        <img mat-card-image class="round white-bg" src="/icon/postgresql.png" alt="PostgreSQL"
                            width="80" height="80">
                    </div>
                    <mat-card-content class="text-center">
                        <h2 class="tech-font-16">PostgreSQL</h2>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>

    </div>
    <!-- Experience -->
    <div class="flex column gap-1em w-80">
        <h2 class="header-font">Experience</h2>
        <!-- Desktop Experience -->
        <div class="flex expreince-big-screen">

            <!-- Company Menu -->
            <div class="w-30">
                <div *ngFor="let company of companies; let i = index"
                    class="menu-item primary-on-hover pointer flex column left-menu-companies company-experience"
                    [class.primary]="selectedCompany === i" (click)="selectedCompany = i">
                    <p class="font-18">
                        {{ company.company }}
                    </p>
                    <small>
                        {{ company.duration }}
                    </small>
                </div>
            </div>

            <!-- Selected Company -->
            <div class="w-70">
                <mat-vertical-stepper>
                    <mat-step *ngFor="let position of companies[selectedCompany].positions" [label]="position.title">
                        <p>
                            <b>{{ position.type }}</b>
                        </p>
                        <p class="primary">
                            <small>{{ position.period }}</small>
                        </p>
                        <p>
                            {{ position.description }}
                        </p>
                    </mat-step>
                </mat-vertical-stepper>
            </div>
        </div>

        <!-- Mobile Experience -->
        <div class="expreince-mobile-screen">
            <mat-accordion multi>
                <mat-expansion-panel *ngFor="let company of companies">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{ company.company }}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{ company.duration }}
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-vertical-stepper>
                        <mat-step *ngFor="let position of company.positions" [label]="position.title">
                            <p>
                                <b>{{ position.type }}</b>
                            </p>
                            <p class="primary">
                                <small>{{ position.period }}</small>
                            </p>
                            <p>
                                {{ position.description }}
                            </p>
                        </mat-step>
                    </mat-vertical-stepper>
                </mat-expansion-panel>
            </mat-accordion>

        </div>

    </div>
    <!-- About -->
    <div class="b-box w-80">
        <div class="flex column gap-1em">
            <h2 class="header-font">
                About Bafana Promise
            </h2>
            <p>
                👋 Hi, I'm Bafana Promise Kopo, a Full-Stack JavaScript Developer with over 4 years of experience
                building
                scalable web and mobile applications. I enjoy creating clean, efficient, and user-focused solutions
                using
                modern JavaScript technologies across the frontend and backend. I'm passionate about solving real-world
                problems, continuously learning, and delivering software that makes an impact.
            </p>
            <h2>
                From Being a Driver to Developer
            </h2>
            <div class="about-content">
                <p>
                    My journey into software development began at my local church, where I was introduced to programming
                    by
                    Tukiso Mateka. He took the time to teach me the fundamentals of coding and showed me that a career
                    in
                    software development was possible.
                </p>
                <p>
                    We didn't have access to expensive equipment or ideal learning environments. Resources were limited,
                    and
                    I didn't even own a computer at the time. Despite these challenges, Tukiso encouraged me to keep
                    learning and make the most of what I had.
                </p>
                <p>
                    Inspired by his mentorship, I began learning HTML and CSS using a borrowed laptop and free online
                    resources. I made the most of every opportunity to learn, often studying and practicing whenever I
                    had
                    spare time at work. Every small step brought me closer to achieving my goal of becoming a software
                    developer.
                </p>
                <p>
                    What started as a simple introduction to coding soon grew into a passion and eventually a
                    profession.
                    Today, I have five years of professional experience as a Full-Stack JavaScript Developer, building
                    scalable web and mobile applications. I'm deeply grateful to Tukiso Mateka for believing in me and
                    introducing me to software development, and to everyone else who supported and encouraged me along
                    the
                    way.
                </p>
            </div>

            <div class="flex gap-1em">
                <button mat-raised-button color="primary" routerLink="/about">
                    Learn More
                </button>
            </div>
        </div>

    </div>
    <!-- Testimonials -->
    <div class="flex column gap-5em w-80">
        <div class="b-box">
            <div class="flex column gap-1em">
                <h2 class="header-font">
                    Testimonials
                </h2>
                <p>
                    Discover the experiences of the people I've had the privilege of working with throughout my career.
                    From clients and teammates to aspiring software developers, these testimonials reflect the impact of
                    my work, technical expertise, collaboration, and commitment to helping others grow. Each story
                    represents meaningful partnerships, shared success, and the lasting relationships built along the
                    way.
                </p>
                <div class="custom-carousel-container">
                    <div class="custom-carousel flex" [style.transform]="'translateX(-' + (currentIndex * 100) + '%)'">

                        @for (testimonial of testimonials; track testimonial.name) {
                        <div class="card-container flex center">
                            <mat-card>
                                <div class="flex center-center profile-image-container accent">
                                    <img mat-card-image class="testimony-card-image" [src]="testimonial.image"
                                        [alt]="testimonial.name">
                                </div>

                                <mat-card-content>
                                    <h2>{{ testimonial.name }}</h2>
                                    <mat-card-subtitle>
                                        {{ testimonial.role }}
                                    </mat-card-subtitle>

                                    @for (paragraph of testimonial.paragraphs; track paragraph) {
                                    <p class="m-bottom-1em font-14">
                                        {{ paragraph }}
                                    </p>
                                    }

                                </mat-card-content>
                            </mat-card>
                        </div>

                        }

                    </div>

                    <button mat-mini-fab color="primary" class="back" (click)="previousTestimonial()"
                        [disabled]="currentIndex === 0">
                        <mat-icon>navigate_before</mat-icon>
                    </button>

                    <button mat-mini-fab color="primary" class="next" (click)="nextTestimonial()"
                        [disabled]="currentIndex === testimonials.length - 1">
                        <mat-icon>navigate_next</mat-icon>
                    </button>

                </div>

            </div>

        </div>

    </div>