<div class="flex center-center column">
  <section class="flex column start-center full-width m-bottom-2em">

    <div class="flex column gap-5em main-section">

      <div class="p-24px b-box">

        <div class="flex column gap-1em">

          <h2 class="header-font">Testimonials</h2>

          <p>
            Discover the experiences of the people I've had the privilege of working with throughout my career. From
            clients and teammates to aspiring software developers, these testimonials reflect the impact of my work,
            technical expertise, collaboration, and commitment to helping others grow. Each story represents meaningful
            partnerships, shared success, and the lasting relationships built along the way.
          </p>

          <div class="custom-carousel-container">

            <div class="custom-carousel flex" [style.transform]="'translateX(-' + (currentIndex * 100) + '%)'">

              @for (testimonial of testimonials; track testimonial.name) {

              <div class="card-container flex center">

                <mat-card>

                  <div class="flex center-center profile-image-container accent">

                    <img mat-card-image class="testimony-card-image" [src]="testimonial.image" [alt]="testimonial.name">

                  </div>

                  <mat-card-content>

                    <h2>{{ testimonial.name }}</h2>

                    <mat-card-subtitle>
                      {{ testimonial.role }}
                    </mat-card-subtitle>

                    @for (paragraph of testimonial.paragraphs; track paragraph) {

                    <p class="m-bottom-1em font-14">
                      {{ paragraph }}
                    </p>

                    }

                  </mat-card-content>

                </mat-card>

              </div>

              }

            </div>

            <button mat-mini-fab color="primary" class="back" (click)="previousTestimonial()"
              [disabled]="currentIndex === 0">

              <mat-icon>navigate_before</mat-icon>

            </button>

            <button mat-mini-fab color="primary" class="next" (click)="nextTestimonial()"
              [disabled]="currentIndex === testimonials.length - 1">

              <mat-icon>navigate_next</mat-icon>

            </button>

          </div>

        </div>

      </div>

    </div>

  </section>
</div>